<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

      <!-- Bean for customer accounts -->
     <bean id="UserDAO" class="Service.UserDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
       
    <bean id="OrdersDAO" class="Service.OrdersDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
       
    <bean id="PackageDAO" class="Service.PackageDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="PkgOrderDAO" class="Service.PkgOrderDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="ServiceAreaDAO" class="Service.ServiceAreaDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="CreditCardDAOImpl" class="DAO.Credit.CreditCardDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" />
        <property name="username" value="hr" />
        <property name="password" value="hr" />
    </bean>
       
    <!-- Bean for login/registration errors -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" p:basename="messages" />
</beans>
