ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006400;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ADFF2F;
    color: #006400;
    
}
li a:active {
    background-color: #ADFF2F;
    color: #006400;
}
.banner-img {
    /* The image used */
    background-image: url('../images/buffet.png');

   /*  Set a specific height */
    height: 100px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.login {
         float: right;
         text-align: right;
        }
.error {
         color: #ff0000;
        font-style: italic;
        }